In [1]:
# Install sqlalchemy 

!pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/mos/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (2.9.5)

In [2]:
# 1. Import libraries

from sqlalchemy import create_engine as ce
import pandas as pd
import numpy as np

In [3]:
# 2. Import and read the National University Rankings csv file

Universities = "NationalUniversitiesRankingsFinal.csv"

Universities = pd.read_csv (Universities)
Universities

,Name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...","$45,320",NaN,"5,402"
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...","$47,074",NaN,"6,699"
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...","$52,491",NaN,"5,844"
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...","$49,480",NaN,"5,532"
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...","$55,056",NaN,"6,102"
...,...,...,...,...,...,...,...
226,University of Massachusetts--Dartmouth,"North Dartmouth, MA",220,"Located about 60 miles south of Boston, the Un...","$19,270","$12,588","7,295"
227,University of Missouri--St. Louis,"St. Louis, MO",220,Undergraduates at University of Missouri--St. ...,"$26,277","$10,065","13,569"
228,University of North Carolina--Greensboro,"Greensboro, NC",220,University of North Carolina--Greensboro is lo...,"$21,595","$6,733","15,951"
229,University of Southern Mississippi,"Hattiesburg, MS",220,The University of Southern Mississippi has two...,"$16,094","$7,224","11,840"
230,Utah State University,"Logan, UT",220,"Founded in 1888, Utah State University is a pu...","$19,772","$6,866","25,259"

In [4]:
# 3. Use the head function to refer school rankings (we are maininly looking for top 10 unis and to review the data)

Universities.head(15)

,Name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...","$45,320",NaN,"5,402"
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...","$47,074",NaN,"6,699"
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...","$52,491",NaN,"5,844"
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...","$49,480",NaN,"5,532"
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...","$55,056",NaN,"6,102"
5,Stanford University,"Stanford, CA",5,Stanford University's pristine campus is locat...,"$47,940",NaN,"6,999"
6,Massachusetts Institute of Technology,"Cambridge, MA",7,"MIT is located in Cambridge, Massachusetts, ac...","$48,452",NaN,"4,527"
7,Duke University,"Durham, NC",8,"Durham, North Carolina, which surrounds Duke's...","$51,265",NaN,"6,639"
8,University of Pennsylvania,"Philadelphia, PA",8,"The University of Pennsylvania, located in Phi...","$51,464",NaN,"9,726"
9,Johns Hopkins University,"Baltimore, MD",10,Johns Hopkins University has four main campuse...,"$50,410",NaN,"6,524"
10,Dartmouth College,"Hanover, NH",11,"Dartmouth College, located in Hanover, New Ham...","$51,438",NaN,"4,307"
11,California Institute of Technology,"Pasadena, CA",12,"Caltech, which focuses on science and engineer...","$47,577",NaN,"1,001"
12,Northwestern University,"Evanston, IL",12,What began as farmland and swampland in the 18...,"$50,855",NaN,"8,314"
13,Brown University,"Providence, RI",14,"Located atop College Hill in Providence, R.I.,...","$51,367",NaN,"6,652"
14,Cornell University,"Ithaca, NY",15,"Cornell University, located in Ithaca, New Yor...","$50,953",NaN,"14,315"

In [5]:
# 4. Use the drop function to drop any university that is not a top 10 school

Universities.drop(Universities.index[10:231], inplace = True)
Universities

,Name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...","$45,320",NaN,"5,402"
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...","$47,074",NaN,"6,699"
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...","$52,491",NaN,"5,844"
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...","$49,480",NaN,"5,532"
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...","$55,056",NaN,"6,102"
5,Stanford University,"Stanford, CA",5,Stanford University's pristine campus is locat...,"$47,940",NaN,"6,999"
6,Massachusetts Institute of Technology,"Cambridge, MA",7,"MIT is located in Cambridge, Massachusetts, ac...","$48,452",NaN,"4,527"
7,Duke University,"Durham, NC",8,"Durham, North Carolina, which surrounds Duke's...","$51,265",NaN,"6,639"
8,University of Pennsylvania,"Philadelphia, PA",8,"The University of Pennsylvania, located in Phi...","$51,464",NaN,"9,726"
9,Johns Hopkins University,"Baltimore, MD",10,Johns Hopkins University has four main campuse...,"$50,410",NaN,"6,524"

In [6]:
# 5. Use the Data Frame function to create a data frame for the new University data set

UniversitiesClean = pd.DataFrame(Universities[["Name","Location","Rank"]])
UniversitiesClean

                                    Name          Location  Rank
0                   Princeton University     Princeton, NJ     1
1                     Harvard University     Cambridge, MA     2
2                  University of Chicago       Chicago, IL     3
3                        Yale University     New Haven, CT     3
4                    Columbia University      New York, NY     5
5                    Stanford University      Stanford, CA     5
6  Massachusetts Institute of Technology     Cambridge, MA     7
7                        Duke University        Durham, NC     8
8             University of Pennsylvania  Philadelphia, PA     8
9               Johns Hopkins University     Baltimore, MD    10

In [7]:
# 6. Use the rename function to rename the 'Name' column to 'college'

UniversitiesClean.rename(columns={'Name': 'college'}, inplace=True)
UniversitiesClean

                                 college          Location  Rank
0                   Princeton University     Princeton, NJ     1
1                     Harvard University     Cambridge, MA     2
2                  University of Chicago       Chicago, IL     3
3                        Yale University     New Haven, CT     3
4                    Columbia University      New York, NY     5
5                    Stanford University      Stanford, CA     5
6  Massachusetts Institute of Technology     Cambridge, MA     7
7                        Duke University        Durham, NC     8
8             University of Pennsylvania  Philadelphia, PA     8
9               Johns Hopkins University     Baltimore, MD    10

In [8]:
#7. Import and Read the Players csv file 

Players = "PlayersFinal.csv"

Players = pd.read_csv (Players)
Players

,_id,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,...,draft_pick,draft_round,draft_team,draft_year,height,highSchool,name,position,shoots,weight
0,abdelal01,24-Jun-68,"Cairo, Egypt",0.3,50.2,0,70.1,256,13,5.7,...,25th overall,1st round,Portland Trail Blazers,1990,10-Jun,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
1,abdulza01,7-Apr-46,"Brooklyn, New York",1.2,42.8,NaN,72.8,505,15.1,9.0,...,5th overall,1st round,Cincinnati Royals,1968,9-Jun,"John Jay in Brooklyn, New York",Zaid Abdul-Aziz,Power Forward and Center,Right,235lb
2,abdulka01,16-Apr-47,"New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,...,1st overall,1st round,Milwaukee Bucks,1969,2-Jul,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb
3,abdulma02,9-Mar-69,"Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,...,3rd overall,1st round,Denver Nuggets,1990,1-Jun,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb
4,abdulta01,3-Nov-74,"Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,...,11th overall,1st round,Sacramento Kings,1997,6-Jun,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4680,zizican01,4-Jan-97,"Split, Croatia",0.6,58.3,-,70.8,91,17.5,6.4,...,23rd overall,1st round,Boston Celtics,2016,11-Jun,NaN,Ante Zizic,Center,Right,254lb
4681,zoetji01,20-Dec-53,"Uxbridge, Canada",0.1,20,-,-,7,-0.8,0.3,...,NaN,NaN,NaN,NaN,1-Jul,"Port Perry in Port Perry, Canada",Jim Zoet,Center,Right,240lb
4682,zopfbi01,7-Jun-48,NaN,1.4,36.3,NaN,55.6,53,9.6,2.2,...,33rd overall,2nd round,Milwaukee Bucks,1970,1-Jun,"Monaca in Monaca, Pennsylvania",Bill Zopf,Point Guard,Right,170lb
4683,zubaciv01,18-Mar-97,"Mostar, Bosnia and Herzegovina",0.8,54,0,76.1,140,17.6,6.9,...,32nd overall,2nd round,Los Angeles Lakers,2016,1-Jul,NaN,Ivica Zubac,Center,Right,240lb
4684,zunicma01,19-Dec-19,"Renton, Pennsylvania",0.9,30.3,NaN,70.6,56,-,4.9,...,NaN,1947 BAA Draf,Washington Capitols,NaN,3-Jun,NaN,Matt Zunic,Guard/Forward,Right,195lb

In [9]:
# 8. Use the DataFrame function to create a data frame for the Players file

PlayersClean = pd.DataFrame(Players[['_id', 'name', 'birthDate', 'birthPlace', 'college', 'draft_pick',
       'draft_round', 'draft_team', 'draft_year', 'highSchool', 'position', 'shoots', 'weight']])
PlayersClean

,_id,name,birthDate,birthPlace,college,draft_pick,draft_round,draft_team,draft_year,highSchool,position,shoots,weight
0,abdelal01,Alaa Abdelnaby,24-Jun-68,"Cairo, Egypt",Duke University,25th overall,1st round,Portland Trail Blazers,1990,"Bloomfield in Bloomfield, New Jersey",Power Forward,Right,240lb
1,abdulza01,Zaid Abdul-Aziz,7-Apr-46,"Brooklyn, New York",Iowa State University,5th overall,1st round,Cincinnati Royals,1968,"John Jay in Brooklyn, New York",Power Forward and Center,Right,235lb
2,abdulka01,Kareem Abdul-Jabbar,16-Apr-47,"New York, New York","University of California, Los Angeles",1st overall,1st round,Milwaukee Bucks,1969,"Power Memorial in New York, New York",Center,Right,225lb
3,abdulma02,Mahmoud Abdul-Rauf,9-Mar-69,"Gulfport, Mississippi",Louisiana State University,3rd overall,1st round,Denver Nuggets,1990,"Gulfport in Gulfport, Mississippi",Point Guard,Right,162lb
4,abdulta01,Tariq Abdul-Wahad,3-Nov-74,"Maisons Alfort, France","University of Michigan, San Jose State University",11th overall,1st round,Sacramento Kings,1997,"Lycee Aristide Briand in Evreux, France",Shooting Guard,Right,223lb
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4680,zizican01,Ante Zizic,4-Jan-97,"Split, Croatia",NaN,23rd overall,1st round,Boston Celtics,2016,NaN,Center,Right,254lb
4681,zoetji01,Jim Zoet,20-Dec-53,"Uxbridge, Canada",Kent State University,NaN,NaN,NaN,NaN,"Port Perry in Port Perry, Canada",Center,Right,240lb
4682,zopfbi01,Bill Zopf,7-Jun-48,NaN,Duquesne University,33rd overall,2nd round,Milwaukee Bucks,1970,"Monaca in Monaca, Pennsylvania",Point Guard,Right,170lb
4683,zubaciv01,Ivica Zubac,18-Mar-97,"Mostar, Bosnia and Herzegovina",NaN,32nd overall,2nd round,Los Angeles Lakers,2016,NaN,Center,Right,240lb
4684,zunicma01,Matt Zunic,19-Dec-19,"Renton, Pennsylvania",George Washington University,NaN,1947 BAA Draf,Washington Capitols,NaN,NaN,Guard/Forward,Right,195lb

In [10]:
# 9. Use the dropna function to drop any row that has NAn in the 'college' column

PlayersClean.dropna(subset=['college'])

,_id,name,birthDate,birthPlace,college,draft_pick,draft_round,draft_team,draft_year,highSchool,position,shoots,weight
0,abdelal01,Alaa Abdelnaby,24-Jun-68,"Cairo, Egypt",Duke University,25th overall,1st round,Portland Trail Blazers,1990,"Bloomfield in Bloomfield, New Jersey",Power Forward,Right,240lb
1,abdulza01,Zaid Abdul-Aziz,7-Apr-46,"Brooklyn, New York",Iowa State University,5th overall,1st round,Cincinnati Royals,1968,"John Jay in Brooklyn, New York",Power Forward and Center,Right,235lb
2,abdulka01,Kareem Abdul-Jabbar,16-Apr-47,"New York, New York","University of California, Los Angeles",1st overall,1st round,Milwaukee Bucks,1969,"Power Memorial in New York, New York",Center,Right,225lb
3,abdulma02,Mahmoud Abdul-Rauf,9-Mar-69,"Gulfport, Mississippi",Louisiana State University,3rd overall,1st round,Denver Nuggets,1990,"Gulfport in Gulfport, Mississippi",Point Guard,Right,162lb
4,abdulta01,Tariq Abdul-Wahad,3-Nov-74,"Maisons Alfort, France","University of Michigan, San Jose State University",11th overall,1st round,Sacramento Kings,1997,"Lycee Aristide Briand in Evreux, France",Shooting Guard,Right,223lb
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4677,zimmede01,Derrick Zimmerman,2-Dec-81,"Monroe, Louisiana",Mississippi State University,40th overall,2nd round,Golden State Warriors,2003,"Wossman in Monroe, Louisiana",Point Guard,Right,195lb
4678,zimmest01,Stephen Zimmerman,9-Sep-96,"Hendersonville, Tennessee","University of Nevada, Las Vegas",41st overall,2nd round,Orlando Magic,2016,"Bishop Gorman in Las Vegas, Nevada",Center,Left,240lb
4681,zoetji01,Jim Zoet,20-Dec-53,"Uxbridge, Canada",Kent State University,NaN,NaN,NaN,NaN,"Port Perry in Port Perry, Canada",Center,Right,240lb
4682,zopfbi01,Bill Zopf,7-Jun-48,NaN,Duquesne University,33rd overall,2nd round,Milwaukee Bucks,1970,"Monaca in Monaca, Pennsylvania",Point Guard,Right,170lb
4684,zunicma01,Matt Zunic,19-Dec-19,"Renton, Pennsylvania",George Washington University,NaN,1947 BAA Draf,Washington Capitols,NaN,NaN,Guard/Forward,Right,195lb

In [11]:
# 10. Use the str.contains function to find look iny  the 'college' column and replace any cell that contains 
#     'Stanford University' with 'Standford University'

PlayersClean[PlayersClean['college'].str.contains('Stanford University', na=False)]

,_id,name,birthDate,birthPlace,college,draft_pick,draft_round,draft_team,draft_year,highSchool,position,shoots,weight
278,bedelbo01,Bob Bedell,26-Jun-44,"Los Angeles, California",Stanford University,90th overall,10th round,Philadelphia 76ers,1966,"Bell Gardens in Bell Gardens, California",Power Forward,Right,205lb
403,borchcu01,Curtis Borchardt,13-Sep-80,"Buffalo, New York",Stanford University,18th overall,1st round,Orlando Magic,2002,"Eastlake in Redmond, Washington",Center,Right,240lb
458,bratzmi01,Mike Bratz,17-Oct-55,"Lompoc, California",Stanford University,66th overall,3rd round,Phoenix Suns,1977,"Lompoc in Lompoc, California",Point Guard,Right,185lb
500,brownan02,Anthony Brown,10-Oct-92,"Bellflower, California",Stanford University,34th overall,2nd round,Los Angeles Lakers,2015,"Ocean View in Huntington Beach, California",Small Forward,Right,210lb
598,butlegr01,Greg Butler,11-Mar-66,"Inglewood, California",Stanford University,37th overall,2nd round,New York Knicks,1988,"Rolling Hills in Rolling Hills Estates, Califo...",Center,Right,240lb
719,childjo01,Josh Childress,20-Jun-83,"Harbor City, California",Stanford University,6th overall,1st round,Atlanta Hawks,2004,"Mayfair in Lakewood, California",Shooting Guard and Small Forward,Right,210lb
775,collija03,Jarron Collins,2-Dec-78,"Northridge, California",Stanford University,53rd overall,2nd round,Utah Jazz,2001,"Harvard-Westlake School in North Hollywood, Ca...",Center,Right,255lb
776,collija04,Jason Collins,2-Dec-78,"Northridge, California",Stanford University,18th overall,1st round,Houston Rockets,2001,"Harvard-Westlake School in North Hollywood, Ca...",Power Forward and Center,Right,255lb
906,dallmho01,Howie Dallmar,24-May-22,"San Francisco, California",Stanford University,NaN,NaN,NaN,NaN,"Lowell in San Francisco, California",Forward,Right,200lb
1282,fieldla01,Landry Fields,27-Jun-88,"Long Beach, California",Stanford University,39th overall,2nd round,New York Knicks,2010,"Los Alamitos in Los Alamitos, California",Shooting Guard and Small Forward,Right,210lb
1702,harriar01,Art Harris,13-Jan-47,NaN,Stanford University,16th overall,2nd round,Seattle SuperSonics,1968,"Jordan in Los Angeles, California",Point Guard and Shooting Guard,Right,185lb
1916,huestjo01,Josh Huestis,19-Dec-91,"Webster, Texas",Stanford University,29th overall,1st round,Oklahoma City Thunder,2014,"C.M. Russell in Great Falls, Montana",Power Forward,Right,230lb
2009,jacobca01,Casey Jacobsen,19-Mar-81,"Glendora, California",Stanford University,22nd overall,1st round,Phoenix Suns,2002,"Glendora in Glendora, California",Shooting Guard and Small Forward,Right,215lb
2224,keefead01,Adam Keefe,22-Feb-70,"Irvine, California",Stanford University,10th overall,1st round,Atlanta Hawks,1992,"Woodbridge in Irvine, California",Center and Power Forward and Small Forward,Right,230lb
2229,kelleri01,Rich Kelley,23-Mar-53,"San Mateo, California",Stanford University,7th overall,1st round,New Orleans Jazz,1975,"Woodside in Woodside, California",Center,Right,235lb
2309,knighbr01,Brevin Knight,8-Nov-75,"Livingston, New Jersey",Stanford University,16th overall,1st round,Cleveland Cavaliers,1997,"Seton Hall Preparatory School in West Orange, ...",Point Guard,Right,173lb
2480,lichtto01,Todd Lichti,8-Jan-67,"Walnut Creek, California",Stanford University,15th overall,1st round,Denver Nuggets,1989,"Mount Diablo in Concord, California",Shooting Guard,Right,205lb
2519,lopezbr01,Brook Lopez,1-Apr-88,"North Hollywood, California",Stanford University,10th overall,1st round,New Jersey Nets,2008,"San Joaquin Memorial in Fresno, California",Center,Right,270lb
2522,lopezro01,Robin Lopez,1-Apr-88,"North Hollywood, California",Stanford University,15th overall,1st round,Phoenix Suns,2008,"San Joaquin Memorial in Fresno, California",Center,Right,275lb
2577,madsema01,Mark Madsen,28-Jan-76,"Walnut Creek, California",Stanford University,29th overall,1st round,Los Angeles Lakers,2000,"San Ramon Valley in Danville, California",Center and Power Forward,Right,240lb
3038,neumapa01,Paul Neumann,30-Jan-38,NaN,Stanford University,27th overall,4th round,Syracuse Nationals,1959,"Newport Harbor in Newport Harbor, California",Point Guard,Right,175lb
3321,pollaji01,Jim Pollard,9-Jul-22,"Oakland, California",Stanford University,and St. Louis Bombers,1947 BAA Draf,Chicago Stags,1947,"Oakland Technical in Oakland, California",Small Forward,Right,185lb
3346,poweldw01,Dwight Powell,20-Jul-91,"Toronto, Canada",Stanford University,45th overall,2nd round,Charlotte Hornets,2014,"IMG Academy in Bradenton, Florida",Power Forward and Center,Right,240lb
3407,randlch01,Chasson Randle,5-Feb-93,"Rock Island, Illinois",Stanford University,NaN,NaN,NaN,NaN,"Rock Island in Rock Island, Illinois",Point Guard,Right,185lb
3562,rogerjo01,Johnny Rogers,30-Dec-63,"Fullerton, California","Stanford University, University of California,...",34th overall,2nd round,Sacramento Kings,1986,"LaQuinta in Westminster, California",Power Forward,Right,225lb
4077,terrycl01,Claude Terry,12-Jan-50,"Salida, California",Stanford University,42nd overall,3rd round,Phoenix Suns,1972,NaN,Small Forward and Shooting Guard,Right,195lb
4326,walshji01,Jim Walsh,29-Aug-30,"San Francisco, California",Stanford University,NaN,1952 NBA Draf,Baltimore Bullets,NaN,NaN,Forward,Right,195lb
4583,windsjo01,John Windsor,3-Apr-40,NaN,Stanford University,39th overall,5th round,Syracuse Nationals,1962,"Pem-Day in Kansas City, Missouri",Power Forward,Right,215lb
4633,wrighho02,Howard Wright,20-Dec-67,"San Diego, California",Stanford University,NaN,NaN,NaN,NaN,"Patrick Henry in San Diego, California",Power Forward,Right,220lb
4648,yardlge01,George Yardley,3-Nov-28,"Hollywood, California",Stanford University,7th overall,1st round,Fort Wayne Pistons,1950,"Newport Harbor in Newport Beach, California",Small Forward,Right,190lb
4662,youngti01,Tim Young,6-Feb-76,"Santa Cruz, California",Stanford University,56th overall,2nd round,Golden State Warriors,1999,"Harbor in Santa Cruz, California",Center,Right,220lb

In [12]:
# 11. Use the str function to find look iny  the 'college' column and replace any cell that contains 
#     'Duke University' with 'Duke University'


PlayersClean[PlayersClean['college'].str.contains('Duke University', na=False)]

,_id,name,birthDate,birthPlace,college,draft_pick,draft_round,draft_team,draft_year,highSchool,position,shoots,weight
0,abdelal01,Alaa Abdelnaby,24-Jun-68,"Cairo, Egypt",Duke University,25th overall,1st round,Portland Trail Blazers,1990,"Bloomfield in Bloomfield, New Jersey",Power Forward,Right,240lb
39,alarima01,Mark Alarie,11-Dec-63,"Phoenix, Arizona",Duke University,18th overall,1st round,Denver Nuggets,1986,"Brophy College Preparatory in Phoenix, Arizona",Power Forward,Right,217lb
55,allengr01,Grayson Allen,8-Oct-95,"Jacksonville, Florida",Duke University,21st overall,1st round,Utah Jazz,2018,"Providence School in Jacksonville, Florida",Shooting Guard,Right,198lb
135,armstta01,Tate Armstrong,5-Oct-55,"Moultrie, Georgia",Duke University,13th overall,1st round,Chicago Bulls,1977,"Spring Woods in Houston, Texas",Shooting Guard,Right,175lb
159,averywi01,William Avery,8-Aug-79,"Augusta, Georgia",Duke University,14th overall,1st round,Minnesota Timberwolves,1999,"Oak Hill Academy in Mouth of Wilson, Virginia",Point Guard,Right,197lb
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,vergabo01,Bob Verga,7-Sep-45,"Neptune, New Jersey",Duke University,25th overall,3rd round,St. Louis Hawks,1967,"Saint Rose's in Belmar, New Jersey",Point Guard and Shooting Guard,Right,190lb
4500,williel01,Elliot Williams,20-Jun-89,"Memphis, Tennessee","Duke University, University of Memphis",22nd overall,1st round,Portland Trail Blazers,2010,St. George's Independent School in Colliervill...,Point Guard and Shooting Guard,Left,190lb
4513,willija03,Jay Williams,10-Sep-81,"Plainfield, New Jersey",Duke University,2nd overall,1st round,Chicago Bulls,2002,"St. Joseph in Metuchen, New Jersey",Point Guard,Right,195lb
4549,willish02,Shelden Williams,21-Oct-83,"Oklahoma City, Oklahoma",Duke University,5th overall,1st round,Atlanta Hawks,2006,"Midwest City in Midwest City, Oklahoma",Center and Power Forward,Right,250lb
4589,winslju01,Justise Winslow,26-Mar-96,"Houston, Texas",Duke University,10th overall,1st round,Miami Heat,2015,"St. John's in Houston, Texas",Power Forward and Small Forward,Left,225lb

In [13]:
# 12. Use the str function to find look iny  the 'college' column and replace any cell that contains 
#     'University of Pennsylvania' with 'University of Pennsylvania'

PlayersClean[PlayersClean['college'].str.contains('University of Pennsylvania', na=False)]

,_id,name,birthDate,birthPlace,college,draft_pick,draft_round,draft_team,draft_year,highSchool,position,shoots,weight
57,allenje01,Jerome Allen,28-Jan-73,"Philadelphia, Pennsylvania",University of Pennsylvania,49th overall,2nd round,Minnesota Timberwolves,1995,"Episcopal Academy in Merion Station, Pennsylvania",Shooting Guard,Right,184lb
275,becker01,Ernie Beck,11-Dec-31,"Philadelphia, Pennsylvania",University of Pennsylvania,NaN,1953 NBA Draft,Philadelphia Warriors,NaN,"West Catholic in Philadelphia, Pennsylvania",Shooting Guard,Right,190lb
329,bigelbo01,Bob Bigelow,26-Dec-53,"Boston, Massachusetts",University of Pennsylvania,13th overall,1st round,Kansas City Kings,1975,"Winchester in Winchester, Massachusetts",Small Forward,Right,215lb
393,bookebu01,Butch Booker,20-Jul-45,NaN,Cheyney University of Pennsylvania,NaN,NaN,NaN,NaN,"Colwyn in Darby, Pennsylvania",Center,Right,230lb
422,bowmair01,Ira Bowman,11-Jun-73,"Newark, New Jersey","Providence College, University of Pennsylvania",NaN,NaN,NaN,NaN,"Seton Hall Preparatory School in West Orange, ...",Point Guard and Shooting Guard,Right,195lb
528,brownmy01,Myron Brown,3-Nov-69,"McKees Rocks, Pennsylvania",Slippery Rock University of Pennsylvania,34th overall,2nd round,Minnesota Timberwolves,1991,"Sto-Rox in McKees Rocks, Pennsylvania",Point Guard,Right,180lb
625,calhoco01,Corky Calhoun,1-Nov-50,"Waukegan, Illinois",University of Pennsylvania,4th overall,1st round,Phoenix Suns,1972,"Waukegan in Waukegan, Illinois",Small Forward,Right,210lb
785,colonjo01,Joe Colone,23-Jan-24,"Berwick, Pennsylvania",Bloomsburg University of Pennsylvania,NaN,NaN,NaN,NaN,"Berwick in Berwick, Pennsylvania",Forward,Right,210lb
874,crossch01,Chink Crossin,4-Jul-23,"Luzerne, Pennsylvania",University of Pennsylvania,6th overall,1st round,Philadelphia Warriors,1947,"Luzerne in Luzerne, Pennsylvania",Guard,Right,165lb
1284,fillmgr01,Greg Fillmore,7-Mar-47,"Philadelphia, Pennsylvania",Cheyney University of Pennsylvania,136th overall,8th round,New York Knicks,1970,NaN,Center,Right,240lb
1662,hankiph01,Phil Hankinson,26-Jul-51,"Augusta, Georgia",University of Pennsylvania,35th overall,2nd round,Boston Celtics,1973,"Great Neck in Great Neck, New York",Small Forward,Right,195lb
2292,kirklwi01,Wilber Kirkland,NaN,NaN,Cheyney University of Pennsylvania,NaN,NaN,NaN,NaN,NaN,Forward,Right,190lb
2596,malonma01,Matt Maloney,6-Dec-71,"Silver Spring, Maryland","Vanderbilt University, University of Pennsylvania",NaN,NaN,NaN,NaN,"Memorial in Haddonfield, New Jersey",Point Guard,Right,192lb
2700,mccloja01,Jack McCloskey,19-Sep-25,"Mahanoy City, Pennsylvania",University of Pennsylvania,NaN,NaN,NaN,NaN,NaN,Shooting Guard,Right,190lb
3365,priceto01,Tony Price,5-Jan-57,"Bronx, New York",University of Pennsylvania,29th overall,2nd round,Detroit Pistons,1979,"Taft in Bronx, New York",Shooting Guard,Right,190lb
3943,stagger01,Erv Staggs,1-Sep-48,"Philadelphia, Pennsylvania",Cheyney University of Pennsylvania,NaN,NaN,NaN,NaN,"Thomas Edison in Philadelphia, Pennsylvania",Small Forward,Right,195lb
4313,walkeph01,Phil Walker,20-Mar-56,"Philadelphia, Pennsylvania",Millersville University of Pennsylvania,117th overall,7th round,Philadelphia 76ers,1976,"Central in Philadelphia, Pennsylvania",Shooting Guard,Right,180lb
4365,washitr01,Trooper Washington,21-Apr-44,"Philadelphia, Pennsylvania",Cheyney University of Pennsylvania,50th overall,5th round,Cincinnati Royals,1967,"Thomas Edison in Philadelphia, Pennsylvania",Center and Power Forward,Right,215lb
4572,wilsoji01,Jim Wilson,NaN,NaN,Cheyney University of Pennsylvania,62nd overall,4th round,Chicago Bulls,1970,NaN,Guard,Right,175lb
4601,wohlda01,Dave Wohl,2-Nov-49,"Flushing, New York",University of Pennsylvania,46th overall,3rd round,Philadelphia 76ers,1971,"East Brunswick in East Brunswick, New Jersey",Point Guard,Left,185lb

In [14]:
PlayersClean.columns

Index(['_id', 'name', 'birthDate', 'birthPlace', 'college', 'draft_pick',
       'draft_round', 'draft_team', 'draft_year', 'highSchool', 'position',
       'shoots', 'weight'],
      dtype='object')

In [15]:
# 13. Use the merge function to perform a right join (PlayersClean (left) and UniversitiesClean (right))

Combineddf=pd.merge(PlayersClean,UniversitiesClean,on="college", how = 'right')
Combineddf.head()

,_id,name,birthDate,birthPlace,college,draft_pick,draft_round,draft_team,draft_year,highSchool,position,shoots,weight,Location,Rank
0,bradlbi01,Bill Bradley,28-Jul-43,"Crystal City, Missouri",Princeton University,NaN,1965 NBA Draft,New York Knicks,NaN,"Crystal City in Crystal City, Missouri",Small Forward,Right,205lb,"Princeton, NJ",1
1,goodrst01,Steve Goodrich,18-Mar-76,"Philadelphia, Pennsylvania",Princeton University,NaN,NaN,NaN,NaN,"William Penn Charter School in Philadelphia, P...",Power Forward and Small Forward,Right,220lb,"Princeton, NJ",1
2,hillar01,Armond Hill,31-Mar-53,"Brooklyn, New York",Princeton University,9th overall,1st round,Atlanta Hawks,1976,"Bishop Ford in Brooklyn, New York",Point Guard,Right,190lb,"Princeton, NJ",1
3,hummejo01,John Hummer,4-May-48,"Washington, District of Columbia",Princeton University,15th overall,1st round,Buffalo Braves,1970,"Washington-Lee in Arlington, Virginia",Center and Power Forward,Right,230lb,"Princeton, NJ",1
4,kearnmi01,Mike Kearns,18-Jun-29,"Trenton, New Jersey",Princeton University,48th overall,5th round,Philadelphia Warriors,1951,NaN,Point Guard,Right,178lb,"Princeton, NJ",1

In [16]:
# Connect to PosgreSQL
pg_engine = ce("postgresql://postgres:postgres@localhost:5432/NBA_DB")

In [17]:
#pg_engine.table_names()

In [18]:
# Create University Table in SQL

UniversitiesClean.to_sql(name='UniversitiesTable', con=pg_engine, if_exists='append', index=False)

In [19]:
# Create Players Table in SQL

PlayersClean.to_sql(name='PlayersTable', con=pg_engine, if_exists='append', index=False)